body {
background-color: black;
margin: auto;
justify-content: center;
}

head {
justify-content: center;
margin: auto;
}

h1 {
font-size: 24px;

}

p {
font-size: 16px;

}

footer {
justify-content: center;

}

